<nav class="navbar navbar-light bg-light navbar-expand">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/form">Заявки с формы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/requests">Заявки</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/logout">Выход</a>
    </li>
  </ul>
</nav>
